# Rules from ./firmware/android-HMI/.idea/.gitignore
firmware/android-HMI/.ideashelf/
firmware/android-HMI/.ideaworkspace.xml

# Rules from ./firmware/android-HMI/app/.gitignore
firmware/android-HMI/appbuild

# Rules from ./firmware/android-HMI/.gitignore
firmware/android-HMI/.gradle/
firmware/android-HMI/build/
firmware/android-HMI/local.properties
firmware/android-HMI/*.log
firmware/android-HMI/captures/
firmware/android-HMI/.externalNativeBuild/
firmware/android-HMI/.cxx/
firmware/android-HMI/*.aab
firmware/android-HMI/*.apk
firmware/android-HMI/output-metadata.json
firmware/android-HMI/*.iml
firmware/android-HMI/.idea/
firmware/android-HMI/misc.xml
firmware/android-HMI/deploymentTargetDropDown.xml
firmware/android-HMI/render.experimental.xml
firmware/android-HMI/*.jks
firmware/android-HMI/*.keystore
firmware/android-HMI/google-services.json
firmware/android-HMI/*.hprof

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/*.DS_Store
firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/.vscode
firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/**/build
firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/**/sdkconfig
firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/**/sdkconfig.old
firmware/esp32cam/.pio/libdeps/esp32cam/esp32-camera/**/dependencies.lock

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit GFX Library/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit GFX Library/default.vim
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit GFX Library/fontconvert/fontconvert
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit GFX Library/Doxyfile*
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit GFX Library/doxygen_sqlite3.db
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit GFX Library/html

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit SSD1306/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit SSD1306/Doxyfile*
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit SSD1306/doxygen_sqlite3.db
firmware/esp32cam/.pio/libdeps/esp32cam/Adafruit SSD1306/html

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.slo
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.lo
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.o
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.obj
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.gch
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.pch
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.so
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.dylib
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.dll
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.mod
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.lai
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.la
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.a
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.lib
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.exe
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.out
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.app
firmware/esp32cam/.pio/libdeps/esp32cam/WebSocketstests/webSocketServer/node_modules
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/.vscode
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/.cproject
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/.project
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/.settings
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/*.swp

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/CustomNetworkClient/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/CustomNetworkClient/.pio
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/CustomNetworkClient/.vscode

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/.pio
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/.vscode/.browse.c_cpp.db*
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/.vscode/c_cpp_properties.json
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/.vscode/launch.json
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/.vscode/ipch
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/*secret*
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/!*secrets.hpp.template
firmware/esp32cam/.pio/libdeps/esp32cam/WebSockets/examples/esp32_pio/WebSocketClientSSLBundle/*x509_crt_bundle.bin

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/ESP32Servo/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/ESP32Servo.project

# Rules from ./firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/.gitignore
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.slo
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.lo
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.o
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.obj
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.gch
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.pch
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.so
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.dylib
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.dll
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.mod
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.smod
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.lai
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.la
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.a
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.lib
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.exe
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.out
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/*.app
firmware/esp32cam/.pio/libdeps/esp32cam/AccelStepper/.DS_Store

# Rules from ./firmware/esp32cam/.gitignore
firmware/esp32cam/.pio
firmware/esp32cam/.vscode
firmware/esp32cam/secrets/

# Rules from ./mobile/admin/android/.gitignore
mobile/admin/android/gradle-wrapper.jar
mobile/admin/android.gradle
mobile/admin/androidcaptures/
mobile/admin/androidgradlew
mobile/admin/androidgradlew.bat
mobile/admin/androidlocal.properties
mobile/admin/android/GeneratedPluginRegistrant.java
mobile/admin/android/.cxx/
mobile/admin/android/key.properties
mobile/admin/android/**/*.keystore
mobile/admin/android/**/*.jks

# Rules from ./mobile/admin/macos/.gitignore
mobile/admin/macos/**/Flutter/ephemeral/
mobile/admin/macos/**/Pods/
mobile/admin/macos/**/dgph
mobile/admin/macos/**/xcuserdata/

# Rules from ./mobile/admin/windows/.gitignore
mobile/admin/windows/flutter/ephemeral/
mobile/admin/windows/*.suo
mobile/admin/windows/*.user
mobile/admin/windows/*.userosscache
mobile/admin/windows/*.sln.docstates
mobile/admin/windows/x64/
mobile/admin/windows/x86/
mobile/admin/windows/*.[Cc]ache
mobile/admin/windows/!*.[Cc]ache/

# Rules from ./mobile/admin/linux/.gitignore
mobile/admin/linux/flutter/ephemeral

# Rules from ./mobile/admin/ios/.gitignore
mobile/admin/ios/**/dgph
mobile/admin/ios/*.mode1v3
mobile/admin/ios/*.mode2v3
mobile/admin/ios/*.moved-aside
mobile/admin/ios/*.pbxuser
mobile/admin/ios/*.perspectivev3
mobile/admin/ios/**/*sync/
mobile/admin/ios/.sconsign.dblite
mobile/admin/ios/.tags*
mobile/admin/ios/**/.vagrant/
mobile/admin/ios/**/DerivedData/
mobile/admin/ios/Icon?
mobile/admin/ios/**/Pods/
mobile/admin/ios/**/.symlinks/
mobile/admin/ios/profile
mobile/admin/ios/xcuserdata
mobile/admin/ios/**/.generated/
mobile/admin/ios/Flutter/App.framework
mobile/admin/ios/Flutter/Flutter.framework
mobile/admin/ios/Flutter/Flutter.podspec
mobile/admin/ios/Flutter/Generated.xcconfig
mobile/admin/ios/Flutter/ephemeral/
mobile/admin/ios/Flutter/app.flx
mobile/admin/ios/Flutter/app.zip
mobile/admin/ios/Flutter/flutter_assets/
mobile/admin/ios/Flutter/flutter_export_environment.sh
mobile/admin/ios/ServiceDefinitions.json
mobile/admin/ios/Runner/GeneratedPluginRegistrant.*
mobile/admin/ios/!default.mode1v3
mobile/admin/ios/!default.mode2v3
mobile/admin/ios/!default.pbxuser
mobile/admin/ios/!default.perspectivev3

# Rules from ./mobile/admin/.gitignore
mobile/admin/*.env
mobile/admin/*.class
mobile/admin/*.log
mobile/admin/*.pyc
mobile/admin/*.swp
mobile/admin/.DS_Store
mobile/admin/.atom/
mobile/admin/.build/
mobile/admin/.buildlog/
mobile/admin/.history
mobile/admin/.svn/
mobile/admin/.swiftpm/
mobile/admin/migrate_working_dir/
mobile/admin/*.iml
mobile/admin/*.ipr
mobile/admin/*.iws
mobile/admin/.idea/
mobile/admin/**/doc/api/
mobile/admin/**/ios/Flutter/.last_build_id
mobile/admin/.dart_tool/
mobile/admin/.flutter-plugins-dependencies
mobile/admin/.pub-cache/
mobile/admin/.pub/
mobile/adminbuild/
mobile/admincoverage/
mobile/admin/app.*.symbols
mobile/admin/app.*.map.json
mobile/adminandroid/app/debug
mobile/adminandroid/app/profile
mobile/adminandroid/app/release

# Rules from ./mobile/collector/android/.gitignore
mobile/collector/android/gradle-wrapper.jar
mobile/collector/android.gradle
mobile/collector/androidcaptures/
mobile/collector/androidgradlew
mobile/collector/androidgradlew.bat
mobile/collector/androidlocal.properties
mobile/collector/android/GeneratedPluginRegistrant.java
mobile/collector/android/.cxx/
mobile/collector/android/key.properties
mobile/collector/android/**/*.keystore
mobile/collector/android/**/*.jks

# Rules from ./mobile/collector/macos/.gitignore
mobile/collector/macos/**/Flutter/ephemeral/
mobile/collector/macos/**/Pods/
mobile/collector/macos/**/dgph
mobile/collector/macos/**/xcuserdata/

# Rules from ./mobile/collector/windows/.gitignore
mobile/collector/windows/flutter/ephemeral/
mobile/collector/windows/*.suo
mobile/collector/windows/*.user
mobile/collector/windows/*.userosscache
mobile/collector/windows/*.sln.docstates
mobile/collector/windows/x64/
mobile/collector/windows/x86/
mobile/collector/windows/*.[Cc]ache
mobile/collector/windows/!*.[Cc]ache/

# Rules from ./mobile/collector/linux/.gitignore
mobile/collector/linux/flutter/ephemeral

# Rules from ./mobile/collector/ios/.gitignore
mobile/collector/ios/**/dgph
mobile/collector/ios/*.mode1v3
mobile/collector/ios/*.mode2v3
mobile/collector/ios/*.moved-aside
mobile/collector/ios/*.pbxuser
mobile/collector/ios/*.perspectivev3
mobile/collector/ios/**/*sync/
mobile/collector/ios/.sconsign.dblite
mobile/collector/ios/.tags*
mobile/collector/ios/**/.vagrant/
mobile/collector/ios/**/DerivedData/
mobile/collector/ios/Icon?
mobile/collector/ios/**/Pods/
mobile/collector/ios/**/.symlinks/
mobile/collector/ios/profile
mobile/collector/ios/xcuserdata
mobile/collector/ios/**/.generated/
mobile/collector/ios/Flutter/App.framework
mobile/collector/ios/Flutter/Flutter.framework
mobile/collector/ios/Flutter/Flutter.podspec
mobile/collector/ios/Flutter/Generated.xcconfig
mobile/collector/ios/Flutter/ephemeral/
mobile/collector/ios/Flutter/app.flx
mobile/collector/ios/Flutter/app.zip
mobile/collector/ios/Flutter/flutter_assets/
mobile/collector/ios/Flutter/flutter_export_environment.sh
mobile/collector/ios/ServiceDefinitions.json
mobile/collector/ios/Runner/GeneratedPluginRegistrant.*
mobile/collector/ios/!default.mode1v3
mobile/collector/ios/!default.mode2v3
mobile/collector/ios/!default.pbxuser
mobile/collector/ios/!default.perspectivev3

# Rules from ./mobile/collector/.gitignore
mobile/collector/*.env
mobile/collector/*.class
mobile/collector/*.log
mobile/collector/*.pyc
mobile/collector/*.swp
mobile/collector/.DS_Store
mobile/collector/.atom/
mobile/collector/.build/
mobile/collector/.buildlog/
mobile/collector/.history
mobile/collector/.svn/
mobile/collector/.swiftpm/
mobile/collector/migrate_working_dir/
mobile/collector/*.iml
mobile/collector/*.ipr
mobile/collector/*.iws
mobile/collector/.idea/
mobile/collector/**/doc/api/
mobile/collector/**/ios/Flutter/.last_build_id
mobile/collector/.dart_tool/
mobile/collector/.flutter-plugins-dependencies
mobile/collector/.pub-cache/
mobile/collector/.pub/
mobile/collectorbuild/
mobile/collectorcoverage/
mobile/collector/app.*.symbols
mobile/collector/app.*.map.json
mobile/collectorandroid/app/debug
mobile/collectorandroid/app/profile
mobile/collectorandroid/app/release
mobile/collector/android/app/google-services.json
mobile/collector/lib/firebase_options.dart
mobile/collector/ios/Runner/GoogleService-Info.plist

# Rules from ./mobile/collection-center/.gitignore
mobile/collection-center/*.env
mobile/collection-center/*.class
mobile/collection-center/*.log
mobile/collection-center/*.pyc
mobile/collection-center/*.swp
mobile/collection-center/.DS_Store
mobile/collection-center/.atom/
mobile/collection-center/.build/
mobile/collection-center/.buildlog/
mobile/collection-center/.history
mobile/collection-center/.svn/
mobile/collection-center/.swiftpm/
mobile/collection-center/migrate_working_dir/
mobile/collection-center/*.iml
mobile/collection-center/*.ipr
mobile/collection-center/*.iws
mobile/collection-center/.idea/
mobile/collection-center/**/doc/api/
mobile/collection-center/**/ios/Flutter/.last_build_id
mobile/collection-center/.dart_tool/
mobile/collection-center/.flutter-plugins-dependencies
mobile/collection-center/.pub-cache/
mobile/collection-center/.pub/
mobile/collection-centerbuild/
mobile/collection-centercoverage/
mobile/collection-center/app.*.symbols
mobile/collection-center/app.*.map.json
mobile/collection-centerandroid/app/debug
mobile/collection-centerandroid/app/profile
mobile/collection-centerandroid/app/release

# Rules from ./mobile/collection-center/android/.gitignore
mobile/collection-center/android/gradle-wrapper.jar
mobile/collection-center/android.gradle
mobile/collection-center/androidcaptures/
mobile/collection-center/androidgradlew
mobile/collection-center/androidgradlew.bat
mobile/collection-center/androidlocal.properties
mobile/collection-center/android/GeneratedPluginRegistrant.java
mobile/collection-center/android/.cxx/
mobile/collection-center/android/key.properties
mobile/collection-center/android/**/*.keystore
mobile/collection-center/android/**/*.jks

# Rules from ./mobile/collection-center/ios/.gitignore
mobile/collection-center/ios/**/dgph
mobile/collection-center/ios/*.mode1v3
mobile/collection-center/ios/*.mode2v3
mobile/collection-center/ios/*.moved-aside
mobile/collection-center/ios/*.pbxuser
mobile/collection-center/ios/*.perspectivev3
mobile/collection-center/ios/**/*sync/
mobile/collection-center/ios/.sconsign.dblite
mobile/collection-center/ios/.tags*
mobile/collection-center/ios/**/.vagrant/
mobile/collection-center/ios/**/DerivedData/
mobile/collection-center/ios/Icon?
mobile/collection-center/ios/**/Pods/
mobile/collection-center/ios/**/.symlinks/
mobile/collection-center/ios/profile
mobile/collection-center/ios/xcuserdata
mobile/collection-center/ios/**/.generated/
mobile/collection-center/ios/Flutter/App.framework
mobile/collection-center/ios/Flutter/Flutter.framework
mobile/collection-center/ios/Flutter/Flutter.podspec
mobile/collection-center/ios/Flutter/Generated.xcconfig
mobile/collection-center/ios/Flutter/ephemeral/
mobile/collection-center/ios/Flutter/app.flx
mobile/collection-center/ios/Flutter/app.zip
mobile/collection-center/ios/Flutter/flutter_assets/
mobile/collection-center/ios/Flutter/flutter_export_environment.sh
mobile/collection-center/ios/ServiceDefinitions.json
mobile/collection-center/ios/Runner/GeneratedPluginRegistrant.*
mobile/collection-center/ios/!default.mode1v3
mobile/collection-center/ios/!default.mode2v3
mobile/collection-center/ios/!default.pbxuser
mobile/collection-center/ios/!default.perspectivev3

# Rules from ./mobile/collection-center/linux/.gitignore
mobile/collection-center/linux/flutter/ephemeral

# Rules from ./mobile/collection-center/macos/.gitignore
mobile/collection-center/macos/**/Flutter/ephemeral/
mobile/collection-center/macos/**/Pods/
mobile/collection-center/macos/**/dgph
mobile/collection-center/macos/**/xcuserdata/

# Rules from ./mobile/collection-center/windows/.gitignore
mobile/collection-center/windows/flutter/ephemeral/
mobile/collection-center/windows/*.suo
mobile/collection-center/windows/*.user
mobile/collection-center/windows/*.userosscache
mobile/collection-center/windows/*.sln.docstates
mobile/collection-center/windows/x64/
mobile/collection-center/windows/x86/
mobile/collection-center/windows/*.[Cc]ache
mobile/collection-center/windows/!*.[Cc]ache/

# Rules from ./mobile/participant/android/.gitignore
mobile/participant/android/gradle-wrapper.jar
mobile/participant/android.gradle
mobile/participant/androidcaptures/
mobile/participant/androidgradlew
mobile/participant/androidgradlew.bat
mobile/participant/androidlocal.properties
mobile/participant/android/GeneratedPluginRegistrant.java
mobile/participant/android/.cxx/
mobile/participant/android/key.properties
mobile/participant/android/**/*.keystore
mobile/participant/android/**/*.jks

# Rules from ./mobile/participant/macos/.gitignore
mobile/participant/macos/**/Flutter/ephemeral/
mobile/participant/macos/**/Pods/
mobile/participant/macos/**/dgph
mobile/participant/macos/**/xcuserdata/

# Rules from ./mobile/participant/windows/.gitignore
mobile/participant/windows/flutter/ephemeral/
mobile/participant/windows/*.suo
mobile/participant/windows/*.user
mobile/participant/windows/*.userosscache
mobile/participant/windows/*.sln.docstates
mobile/participant/windows/x64/
mobile/participant/windows/x86/
mobile/participant/windows/*.[Cc]ache
mobile/participant/windows/!*.[Cc]ache/

# Rules from ./mobile/participant/linux/.gitignore
mobile/participant/linux/flutter/ephemeral

# Rules from ./mobile/participant/ios/.gitignore
mobile/participant/ios/**/dgph
mobile/participant/ios/*.mode1v3
mobile/participant/ios/*.mode2v3
mobile/participant/ios/*.moved-aside
mobile/participant/ios/*.pbxuser
mobile/participant/ios/*.perspectivev3
mobile/participant/ios/**/*sync/
mobile/participant/ios/.sconsign.dblite
mobile/participant/ios/.tags*
mobile/participant/ios/**/.vagrant/
mobile/participant/ios/**/DerivedData/
mobile/participant/ios/Icon?
mobile/participant/ios/**/Pods/
mobile/participant/ios/**/.symlinks/
mobile/participant/ios/profile
mobile/participant/ios/xcuserdata
mobile/participant/ios/**/.generated/
mobile/participant/ios/Flutter/App.framework
mobile/participant/ios/Flutter/Flutter.framework
mobile/participant/ios/Flutter/Flutter.podspec
mobile/participant/ios/Flutter/Generated.xcconfig
mobile/participant/ios/Flutter/ephemeral/
mobile/participant/ios/Flutter/app.flx
mobile/participant/ios/Flutter/app.zip
mobile/participant/ios/Flutter/flutter_assets/
mobile/participant/ios/Flutter/flutter_export_environment.sh
mobile/participant/ios/ServiceDefinitions.json
mobile/participant/ios/Runner/GeneratedPluginRegistrant.*
mobile/participant/ios/!default.mode1v3
mobile/participant/ios/!default.mode2v3
mobile/participant/ios/!default.pbxuser
mobile/participant/ios/!default.perspectivev3

# Rules from ./mobile/participant/.gitignore
mobile/participant/*.env
mobile/participant/*.class
mobile/participant/*.log
mobile/participant/*.pyc
mobile/participant/*.swp
mobile/participant/.DS_Store
mobile/participant/.atom/
mobile/participant/.build/
mobile/participant/.buildlog/
mobile/participant/.history
mobile/participant/.svn/
mobile/participant/.swiftpm/
mobile/participant/migrate_working_dir/
mobile/participant/*.iml
mobile/participant/*.ipr
mobile/participant/*.iws
mobile/participant/.idea/
mobile/participant/**/doc/api/
mobile/participant/**/ios/Flutter/.last_build_id
mobile/participant/.dart_tool/
mobile/participant/.flutter-plugins-dependencies
mobile/participant/.pub-cache/
mobile/participant/.pub/
mobile/participantbuild/
mobile/participantcoverage/
mobile/participant/app.*.symbols
mobile/participant/app.*.map.json
mobile/participantandroid/app/debug
mobile/participantandroid/app/profile
mobile/participantandroid/app/release

# Rules from ./mobile/store/android/.gitignore
mobile/store/android/gradle-wrapper.jar
mobile/store/android.gradle
mobile/store/androidcaptures/
mobile/store/androidgradlew
mobile/store/androidgradlew.bat
mobile/store/androidlocal.properties
mobile/store/android/GeneratedPluginRegistrant.java
mobile/store/android/.cxx/
mobile/store/android/key.properties
mobile/store/android/**/*.keystore
mobile/store/android/**/*.jks

# Rules from ./mobile/store/macos/.gitignore
mobile/store/macos/**/Flutter/ephemeral/
mobile/store/macos/**/Pods/
mobile/store/macos/**/dgph
mobile/store/macos/**/xcuserdata/

# Rules from ./mobile/store/windows/.gitignore
mobile/store/windows/flutter/ephemeral/
mobile/store/windows/*.suo
mobile/store/windows/*.user
mobile/store/windows/*.userosscache
mobile/store/windows/*.sln.docstates
mobile/store/windows/x64/
mobile/store/windows/x86/
mobile/store/windows/*.[Cc]ache
mobile/store/windows/!*.[Cc]ache/

# Rules from ./mobile/store/linux/.gitignore
mobile/store/linux/flutter/ephemeral

# Rules from ./mobile/store/ios/.gitignore
mobile/store/ios/**/dgph
mobile/store/ios/*.mode1v3
mobile/store/ios/*.mode2v3
mobile/store/ios/*.moved-aside
mobile/store/ios/*.pbxuser
mobile/store/ios/*.perspectivev3
mobile/store/ios/**/*sync/
mobile/store/ios/.sconsign.dblite
mobile/store/ios/.tags*
mobile/store/ios/**/.vagrant/
mobile/store/ios/**/DerivedData/
mobile/store/ios/Icon?
mobile/store/ios/**/Pods/
mobile/store/ios/**/.symlinks/
mobile/store/ios/profile
mobile/store/ios/xcuserdata
mobile/store/ios/**/.generated/
mobile/store/ios/Flutter/App.framework
mobile/store/ios/Flutter/Flutter.framework
mobile/store/ios/Flutter/Flutter.podspec
mobile/store/ios/Flutter/Generated.xcconfig
mobile/store/ios/Flutter/ephemeral/
mobile/store/ios/Flutter/app.flx
mobile/store/ios/Flutter/app.zip
mobile/store/ios/Flutter/flutter_assets/
mobile/store/ios/Flutter/flutter_export_environment.sh
mobile/store/ios/ServiceDefinitions.json
mobile/store/ios/Runner/GeneratedPluginRegistrant.*
mobile/store/ios/!default.mode1v3
mobile/store/ios/!default.mode2v3
mobile/store/ios/!default.pbxuser
mobile/store/ios/!default.perspectivev3

# Rules from ./mobile/store/.gitignore
mobile/store/*.env
mobile/store/*.class
mobile/store/*.log
mobile/store/*.pyc
mobile/store/*.swp
mobile/store/.DS_Store
mobile/store/.atom/
mobile/store/.build/
mobile/store/.buildlog/
mobile/store/.history
mobile/store/.svn/
mobile/store/.swiftpm/
mobile/store/migrate_working_dir/
mobile/store/*.iml
mobile/store/*.ipr
mobile/store/*.iws
mobile/store/.idea/
mobile/store/**/doc/api/
mobile/store/**/ios/Flutter/.last_build_id
mobile/store/.dart_tool/
mobile/store/.flutter-plugins-dependencies
mobile/store/.pub-cache/
mobile/store/.pub/
mobile/storebuild/
mobile/storecoverage/
mobile/store/app.*.symbols
mobile/store/app.*.map.json
mobile/storeandroid/app/debug
mobile/storeandroid/app/profile
mobile/storeandroid/app/release

# Rules from ./backend/.gitignore
backend/node_modules/
backend/.env
backend/test/credentials.txt
backend/diakron-mx-firebase-adminsdk.json
